
.card-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-user-drag: none;
}

.flip-card {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    user-select: none;
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
  
  .inactive .flip-card-back {
    transform: rotateY(0deg);
    cursor: pointer;
  }
  
  .inactive .flip-card-front {
    transform: rotateY(-180deg);
  }
  