.title-container {
    padding-top: 20vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    
}

.title {
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

.autor {
    margin-bottom: 15px;
}

.start-button {
    background-color: #00adb5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.start-button:active {
    background-color: #008d95;
}